

/*Media querie para Pantallas de Escritorio: 1024px > 1200px*/

@media only screen and (min-width:1025px){
    
    body{
        float:left;
        width:1280px;
        height: auto;
        margin: 0 auto;
        background-color: red;
    }
    
    header{
        float:left;
        width:1240px;
        height:200px;
        background-image: url(img/fondo.jpg);
        background-position: center center;
        /*background-color:indianred;*/
        margin:10px 20px 10px 20px;
        border-radius: 0px 20px 0px 100px;
    }
    
    /*Estilos para Textos*/

    h1{
        font-family: "Arial", sans-serif;
        font-size:32px;
        color:red;
    }
    h2{
        font-family:sans-serif;
        font-size:20px;
        color:gray;
    }
    p{
        font-family:sans-serif;
        font-size:14px;
        color:black;
        font-weight: 200;
        text-align: justify;
    }


    header > img{
        float:right;
        max-width:64px;
        margin:20px;
    }

    nav{
        float:left;
        width:1200px;
        height:100px;
        background-color: aquamarine;
        margin: 10px 40px 10px 40px;
    }
    section{
        float:left;
        width:1240px;
        height:auto;
        background-color: yellow;
        margin:10px 20px;
    }
    article{
        float:left;
        width:1000px;
        height:auto;
        background-color: deepskyblue;
        margin:10px;
    }

    article > img{
        float:left;
    }

    article > img:hover{
        cursor: zoom-in;
        width: 300px;
    }

        .texto-articulo{
        float:left;
        width:600px;
        height:auto;
        margin:10px;
    }

    footer{
        float:left;
        width:1240px;
        height:100px;
        background-color: green;
        margin: 20px;
    }

    
}

/*Tablets: 768px > 1024px */

@media only screen and (max-width:1024px){
    
    body{
        width:100%;
        background-color:fuchsia;
    }
    
    header{
        float:left;
        width:95%;
        height:200px; 
        margin:10px 20px 10px 20px;
        border-radius: 10px;
        background-image: url(img/fotografia.jpg);
        background-position: center center;
    }
    
    nav{
        float:left;
        width:95%;
        height:100px;
        background-color:bisque;
        margin: 20px;
    }
    
    section{
        float:left;
        width:95%;
        height:auto;
        background-color: white;
        margin:10px 20px;
    }
    article{
        float:left;
        width:95%;
        height:auto;
        background-color:aquamarine;
        margin:10px;
    }
    
    footer{
        float:left;
        width:95%;
        height:80px;
        background-color:chartreuse;
        margin: 10px;
    }
    
    
}

/*Móviles / Mobile: 480px > 768px*/

@media only screen and (max-width:600px){
    
    body{
        width:100%;
        background-color:black;
    }
    
    header{
        float:left;
        width:90%;
        height:150px; 
        margin:5%;
        border-radius: 10px;
        background-image: url(img/fondo.jpg);
        background-position: center center;
    }
    
    nav{
        float:left;
        width:95%;
        height:60px;
        background-color:darkturquoise;
        margin: 20px;
    }
    
    section{
        float:left;
        width:95%;
        height:auto;
        background-color: yellow;
        margin:10px 20px;
    }
    article{
        float:left;
        width:95%;
        height:auto;
        background-color:blue;
        margin:10px;
    }
    
    footer{
        float:left;
        width:95%;
        height:60px;
        background-color:cornflowerblue;
        margin: 10px;
    }
    
    
}
